certifi==2026.2.25
charset-normalizer==3.4.7
idna==3.11
iniconfig==2.3.0
numpy==2.4.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas==3.0.2
pluggy==1.6.0
pyarrow==23.0.1
Pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
requests==2.33.1
six==1.17.0
urllib3==2.6.3
